.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gov-banner-container {
  width: 100%;
  background-color: #f0f0f0;
  height: 20px;
  display: flex;
  justify-content: center;
}

.gov-banner {
  width: 70%;
  display: flex;
  align-items: center;
}

.gov-logo {
  height: 15px;
  margin-right: 10px;
}

.gov-text {
  font-size: 12px;
  color: #5b5b5b;
}

.search-card {
  width: 100%;
  background-color: white;
  padding: 2.5rem 1rem;
  box-shadow: 0 8px 6px -6px rgba(200, 200, 200, 0.715);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 70%;
  display: flex;
  position: relative;
  align-items: center;
}

.search-input {
  width: calc(100% - 100px);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 8px 0 0 8px;
  border: 1px solid #ccc;
  outline: none;
}

.search-input:focus {
  border-color: #2976d5;
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #2976d5;
  color: white;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 8PX;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  margin-right: 0.5rem;
}

.clear-icon {
  margin-right: 0.5rem;
}

.clear-button {
  display: flex;
  position: absolute;
  right: 120px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.suggestions {
  position: absolute;
  top: 85%;
  left: 0;
  width: calc(100% - 130px);
  background-color: white;
  box-shadow: 3px 3px 5px -2px gray;
  z-index: 1000;
  border-radius: 0 0 8px 8px;
  margin-top: 5px;
}

.suggestion-item {
  padding: 0.5rem 0 0.5rem 1rem;
  cursor: pointer;
}

.suggestion-item:last-child {
  border-bottom: none;
  border-radius: 0 0 8px 8px;
}

.suggestion-item:hover,
.suggestion-item.active {
  background-color: #f0f0f0;
}

.search-results {
  margin-top: 2rem;
  width: 70%;
}

.results-summary {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.result-item {
  padding: 1rem 0 1rem;
}

.result-title {
  color: #2976d5;
  font-weight: bold;
  font-size: 1.2rem;
}

.result-excerpt {
  margin-top: 0.5rem;
}

.result-uri {
  margin-top: 0.5rem;
  color: gray;
}

.result-uri a {
  color: gray;
  text-decoration: none;
}

.result-uri a:hover {
  text-decoration: underline;
}